* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgb(28, 31, 228);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #e74b72;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(47, 28, 209);
}

.todo-input::placeholder {
  color: #1d1414;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(231, 71, 146) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, rgb(63, 151, 82) 0%, rgb(45, 95, 84) 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(14, 100, 32) 0%,
    rgb(21, 155, 126) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(132, 226, 148) 0%,
    rgb(120, 196, 199) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(27, 187, 126) 0%,
    rgb(9, 129, 113) 100%
  );
}

.todo-row-complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: linear-gradient(
    90deg,
    rgb(244, 248, 245) 0%,
    rgb(96, 110, 107) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  color: grey;
  text-decoration: line-through;
}

.todo-row-complete .done-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  fill: green;
}

.todo-row-complete .delete-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin-right: 5px;
  color: grey;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

/*Chat css*/

.outgoing {
  background-color: rgb(17, 163, 17);
  text-align: right;
  width: fit-content;
}

.incoming {
  background-color: #2355c2;
  text-align: left;
  width: fit-content;
}

.box_body {
  overflow-y: auto;
  height: 550px;
}
